<!--
  Well these are as basic as they come, any valid JS DateString will work here, some invalid ones, depending on the browser
-->
<label for="filter-begin-date">Filter begin date:</label>
<input #beginDate name="filter-begin-date" value={{filterBeginDate}} (blur)="onUpdateFilterBeginDate(beginDate.value)"><br>
<label for="filter-end-date">Filter end date:</label>
<input #endDate name="filter-end-date" value={{filterEndDate}} (blur)="onUpdateFilterEndDate(endDate.value)"><br>

<button (click)="onShowRecentDevices()" *ngIf="!showRecentDevices">Show Recent Devices</button>
<button (click)="onClearFilters()" *ngIf="showRecentDevices">Show All Devices</button>
<button (click)="onClearFilters()">Clear Filters</button>
<button (click)="onTogglePagenation()">Toggle Pagenation</button>
<button (click)="onDownloadCsv()">Download CSV</button>

<table>
  <thead>
    <tr>
      <th>Battery</th>
      <th>File Size</th>
      <th>ID</th>
      <th>Last Seen</th>
      <th>Params</th>
    </tr>
  </thead>
  <!--
    Not optimized at all, ideally an infinately scrolling table would be used that could reuse elements.
    That would allow us to avoid pagenation all together as there would never be more elements in the DOM
    than is nessisary and data could be loaded in the background if needed. (DOM being the bigger concern usually)
  -->
  <tbody *ngIf="!isPagenated">
      <tr *ngFor="let device of filteredDevices">
        <td>{{ device.battery }}%</td>
        <td>{{ device.file_size }}</td>
        <td>{{ device.id }}</td>
        <td>{{ device.last_seen }}</td>
        <td>{{ device.params }}</td>
      </tr>
    </tbody>
  <tbody *ngIf="isPagenated">
    <tr *ngFor="let device of pagenatedFilteredDevices">
      <td>{{ device.battery }}%</td>
      <td>{{ device.file_size }}</td>
      <td>{{ device.id }}</td>
      <td>{{ device.last_seen }}</td>
      <td>{{ device.params }}</td>
    </tr>
  </tbody>
</table>
<div *ngIf="isPagenated">
  <p>{{numberOfDevices}} devices. Page {{pageNumber}} of {{totalPages}}</p>
  <button *ngIf="pageNumber != 1" (click)="onPreviousPage()">Previous</button>
  <button *ngIf="pageNumber != totalPages"(click)="onNextPage()">Next</button>
</div>
